body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: rgb(194, 193, 193);
    color: #333;
    text-align: center;
}
header {
    background-color: gray;
    color: white;
    padding: 10px;
    margin: 15px 10px;
    text-align: center; /*CENTRAGE*/
}
nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}
.produit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.produit{
   display: inline-block;
}

img {
    width: 300px;
    margin-left: 0;
    margin-right: 0;
}
h1, h2 {
    color: #0a7c86;
}

.card {
    background-color: white;
    padding: 20px;
    margin: 15px 0;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #0a7c86;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input, 
textarea {
    width: 95%;
    padding: 12px;
    margin-bottom: 15px;
    border: 2PX solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 30px;
}